table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: uppercase;
}
th {
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: uppercase;
}

body {
 	width: 100%;
 	padding-top:6.5vw;
 	color: black;
  /* font-family: Comic Sans MS, Comic Sans, cursive; */
  	font-family: 'Roboto Slab', serif;
}


.container{
	margin: 0 5%;
}

nav{
  /* font-family: Arial, Helvetica, sans-serif; */
  	font-family: 'Roboto Slab', serif;
	background-color:#eff1e6;
	text-align:center;
	display:flex;
	justify-content: flex-end;
	color:#5c251a;
	font-weight:bold;
	text-decoration: none;
	padding: 15 0px;
	height:auto;
	width:100%;
	margin-left: 0px;
	position:fixed;
	top:0;

	overflow: hidden;

  	z-index: 99;

}

nav a, nav .dropdown {
	text-decoration: none;
	text-align:center;
	margin:auto;
	color:#5c251a;
	padding:2.5px 0;
}

a { text-decoration: none; }

h1 { font-size: 3em; }

footer ul li { display: inline; margin-right: 20px; }

nav a:hover, .dropdown:hover .dropbtn {
	text-decoration: underline;
	color:#5c251a;
}

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
